body {
  background-color: bisque;
}

h1 {
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
  width: 100%;
  border: solid black 5px;
}

h3 {
    text-align: center;
    width: 100%;
    
}

footer {
  position: static;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#displayData {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  gap: 10px;
  
}

img {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  width: 500px;
  height: 300px;
  object-fit: cover;
}

#displayUser {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  gap: 20px;
}
